@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";

.container {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  margin-top: 10px;
  width: 100%;
  max-width: 550px;
}

.mdc-card-holder,
.mdc-card-number {
  width: 100%;
}

.two-column-row {
  display: flex;
  justify-content: space-between;
}

.mdc-split {
  min-width: 8px;
}

.control-container {
  width: 100%;
}

.mdc-card-number-icon__img {
  height: 24px;
}

.control-group-holder,
.control-group-card {
  margin-bottom: 13px
}

#payment_request_security_code::placeholder {
  color: #6e7396;
}

.grey-placeholder {
  color: #6e7396 !important;
}

// Overwrite MDC default style
// Input text color
.mdc-text-field:not(.mdc-text-field--focused) {
  @include mdc-text-field-label-color(#6e7396);
  @include mdc-text-field-ink-color(#21285e);
}

.mdc-text-field.mdc-text-field--focused {
  @include mdc-text-field-ink-color(#21285e);
  @include mdc-text-field-label-color(#1c70f2);
  @include mdc-text-field-caret-color(#1c70f2);
}

.mdc-text-field.mdc-text-field--focused:not(.mdc-text-field--invalid) .mdc-text-field__input:required ~ .mdc-notched-outline .mdc-floating-label::after {
  color: #1c70f2;
}

.mdc-text-field.mdc-text-field--invalid {
  @include mdc-text-field-label-color(#b00002);
}

.mdc-text-field {
  @include mdc-text-field-focused-outline-color(#1c70f2);
  @include mdc-text-field-outline-color(#dddde3);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover ~ .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover ~ .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover ~ .mdc-notched-outline .mdc-notched-outline__trailing,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover ~ .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover ~ .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover ~ .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: #a5abc1;
}

// Updated original style
.control-group {
  margin-bottom: 32px
}

// From original application.css
fieldset {
  padding: 0;
  margin: 0;
  border: 0
}

.display-none {
  display: none
}

.mdc-card-help-text,
mdc-security-code-text,
.mdc-expiry-date-text {
  columns: red;
}

.card-visa {
  background-image: url(/assets/card-visa-cb6a36a52c97e6983090e5af531a04575d4caa234ecbfe2a071045cceed76e60.png);
  background-image: url(/assets/card-visa-5f8a240d56bca7d914a57f03c7a3be261cae8ee1ef43f444e181a4d1cb47a962.svg)
}

.card-mastercard {
  background-image: url(/assets/card-mastercard-77f4bf0513351c9f8c80691a9b44afff3851b26f9ac0b3542998724f1062736b.png);
  background-image: url(/assets/card-mastercard-48906597ac2007ce69cbe6d3a5928e801c83866376b8f881263872a9a978a6b8.svg)
}

.card-amex {
  background-image: url(/assets/card-amex-addbce8529e470b48ac00f67038f38611d6559cac127104a054edecc41996bc1.png);
  background-image: url(/assets/card-amex-cd6ea640c2b86338680a4844efc0b5398125688cc0121728922d57d30b080d7a.svg)
}

.card-jcb {
  background-image: url(/assets/card-jcb-2b9d9ad1afeb70a93ee3e33784190267c171d7226239fef1e8d002433be25a79.png);
  background-image: url(/assets/card-jcb-c0d2fe067ab0e14ed626559b524b6aeea349f66a2f6adbfc9bcb5d1cc761c355.svg)
}

.card-diners {
  background-image: url(/assets/card-diners-6ba6f55eabc7aac853d41c1961bc15d2106e40d9f9d8f8540b3c656f2f67ead3.png);
  background-image: url(/assets/card-diners-6c423134d34cbc014aa7c48b37add2893d0bfe9a782b1d409a24803734973e4f.svg)
}
