#payment_request_card_holder,
#payment_request_card_number {
  min-width: 350px;
}

#payment_request_expiry_date,
#payment_request_security_code {
  width: 160px !important;
}

.two-column-row {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.control-container {
  text-align: center;
}

.control-container-flex {
  display: flex;
  justify-content: center;
}
